.glider-reservation-queue-page {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 10px;
}

.glider-reservation-queue-spacing-groups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0 0 10px;
}
