<table mat-table [dataSource]="gliders" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>{{ 'ID' | translate }}</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="callSign">
    <th mat-header-cell *matHeaderCellDef>{{ 'CALLSIGN' | translate }}</th>
    <td mat-cell *matCellDef="let element"> {{element.callSign}} </td>
  </ng-container>

  <ng-container matColumnDef="owners">
    <th mat-header-cell *matHeaderCellDef>{{ 'OWNERS' | translate }}</th>
    <td mat-cell *matCellDef="let element">
      <mat-chip-list aria-label="Owners">
        <mat-chip *ngFor="let member of element.owners">{{ member.fullName }}</mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
