<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
    <div *ngIf="auth.user$ | async as user">
        <button mat-button>
            {{ 'GREET' | translate:user }}
            <img [src]='user.picture' referrerPolicy="no-referrer" height="24"/>
        </button>
        <button mat-button (click)="logout()">{{ 'LOGOUT' | translate }}</button>
    </div>
</ng-container>

<ng-template #loggedOut>
    <button mat-button (click)="login()">{{ 'LOGIN' | translate }}</button>
</ng-template>